.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

@media screen and (min-width: 992px) {
	#sidebar {
		width: 25%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 991px) {
	#sidebar {
		position: fixed;
		width: 250px;
		height: 100%;
		z-index: 15;
		left: -250px;
		top: 0;
		background-color: white;
		padding-left: 5px;

		* {
			width: 250px;
		}
	}

	.sidebar-show {
		left: 0 !important;
	}

	.widget-title:after {
		margin-left: -5px !important;
	}

	#sidebar-button {
		position: fixed;
		left: 0;
		top: 40px;
		margin-left: 5px;
		background-color: black;
		color: white;
		z-index: 15;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		&:hover,
		&:focus,
		&:active {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}

	.sidebar-button-toggled {
		left: 250px !important;
	}
}

.widget-title:after {
	display: block;
	height: 2px;
	background-color: #687246;
	content: " ";
	width: 100%;
	margin: 0 auto;
	margin-top: 3px;
}

.widget-area {

	a {
		color: black;
		font-size: 18px;

		&:hover,
		&:focus {
			opacity: 0.7;
			text-decoration: none;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}
}

.sticky-sidebar {
	position: fixed;
	top: 70px;
}

.static-sidebar-bottom {
	position: absolute;
	bottom: 0;
}