html,
body {
    background-color: #fff;
    color: black;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

header > hr {
	height: 4px;
	background-color: #687246;
}

#page > header {
	width: 100%;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#contact-info {
	ul {
		li {
			list-style-type: none;
		}
	}
}