.banner {
	background-color: yellow;   
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/girls.jpg);
	background-size: cover;
	color: #fff;
	height:300px;
}

h2.top {
	font-family: 'Oswald';
	font-size: 36px;
	word-spacing: 4px;
	text-align: left;
	font-weight: bold;
	letter-spacing: 2px;
}

h2.bottom {
	font-size: 28px;
	word-spacing: 2px;
	text-align: left;
	font-family: 'Lato';
	letter-spacing: 1px;
	font-weight: bold;
}