.bedzinpic {
	margin: 20px 0 20px 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/bedzinexhibit.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	height: 400px;
	width: inherit;
}