a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.inactive {
	color: grey;

	&:hover {
		cursor: default;
		color: grey;
		text-decoration: none;
	}

	&:active,
	&:focus {
		color: grey;
		text-decoration: none;
	}
}

.glossary-letter-link {
	font-size: 18px;

	&:visited {
		color: #4169e1;
	}
}