header > .container-fluid {
	background-color: #030303;
}

.main-navigation {
	letter-spacing: 2px;
	clear: both;
	float: none;
	margin: 0 auto;
	max-width: 528px;
	position: relative;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 70px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
				border-width: 0 0 0 0;
				padding: 0;

				&:first-child {
					border-width: 0;
				}
			}

			a {
				width: 300px;
			}

			:hover > a,
			.focus > a {
				color: white;
				background-color: #687246;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 0px;
		}

		li {

			a {
				padding-right: 15px;
				padding-left: 15px;
			}

			&:first-child {
				border-width: 0 2px 0 2px;
			}

			&:hover,
			&.focus {
				background-color: #687246;
			}
		}
	}
	
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.menu-main-menu-container {}

#primary-menu {

	li {
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 20px;
		text-transform: uppercase;
		color: white;
		background-color: #030303;
		&.focus,
		&:hover {
			color: white;
			background-color: #687246;
		}
		a {
			color: inherit;
			background-color: inherit;
		}
	}

	ul {
		li {
			padding: 12px 16px;
			color: #030303;
			background-color: #f9f9f9;
			&.focus,
			&:hover {
				color: white;
				background-color: #687246;
			}
			a {
				font-size: 14px;
				text-transform: none;
				color: inherit;
				background-color: inherit;
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
