@font-face {
    font-family: Gotham-Book;
    src: url('fonts/Gotham-Book.otf');
    font-style: normal;
}
@font-face {
    font-family: Gotham-Bold;
    src: url('fonts/Gotham-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Gotham-BookItalic;
    src: url('fonts/Gotham-BookItalic.otf');
    font-style: italic;
}
@font-face {
    font-family: Gotham-Medium;
    src: url('fonts/Gotham-Medium.otf');
    font-weight: 200;
}
@font-face {
    font-family: Gotham-MediumiTalic;
    src: url('fonts/Gotham-MediumItalic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Lato-Bold;
    src: url('fonts/Lato-Bold.ttf');
    font-weight: 200;
    font-style: bold;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Regular.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Oswald;
    src: url('fonts/Oswald-Light.ttf');
    font-weight: 200;
}