h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: 36px;
	margin: 20px 0 10px 0;
	font-family: 'Gotham-Bold';
    padding-top: 40px;
    word-spacing: 4px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h3 {
	line-height: 50px;
	font-size: 30px;
	padding-bottom: 20px;
	font-family: 'Gotham-MediumItalic';
	margin-top: 20px;
	margin-bottom: 10px;
}